*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/inspectionProfiles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
*.jks
*.keystore
release-signing*.properties
upload-key*.txt
debug.keystore
.build-outputs/
/artifacts/
